body {
    font-family: "Nunito";
}

.menu {
    color: black;
    font-weight: 100;
    font-size: 16px;
}

.menu-item {
    background-color: white;
    margin: 8px; 
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
}

a {
    text-decoration: none;
    color: black;
}

xmp {
  background-color: whitesmoke;
  display: block;
  padding: 20px;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}