<html>

<head>
  <title>
    Orient (1924-1924)(Originaltitel)
  </title>
  <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

  <style>
    .text {
      font-family: Quicksand;
      color: black;
    }

    .title {
      font-weight: 100;
      font-size: 48px;
    }

    .key {
      font-weight: 1000;
      font-size: 16px;
    }

    .value {
      font-weight: 400;
      font-size: 16px;
    }

    .home {
      font-weight: 1000;
      font-size: 16px;
    }

    th,
    td {
      padding-bottom: 10px;
      padding-right: 40px;
    }
  </style>
</head>

<body style='background:tomato;'>


  <div>
    <a href="https://fiafcore.org" style="text-decoration: none;">
    <tspan class="text home">FIAFcore</tspan>
  </a>
  </div>

  <div style='width:600px; margin: 0 auto;'>
    <div style='padding-top:100px;padding-bottom:100px'>
      <tspan class="text title">404</tspan><br>
    </div>

    <table style='border: 0px solid black;'>
      <tr>
        <td>
          <tspan class="text value">Resource cannot be found.</tspan>
        </td>
    
      </tr>


  </div>

</body>

</html>