<head>
    <title>FIAF Knowledge Graph</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fiafcore.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

</head>

<body>
    <div style="width: 100%; background-color: white; display: flex; justify-content: left;">

            <div class="menu"
                style="display: flex; justify-content: left; background-color: white;  border: 0px black solid;">
                <div class="menu-item" style="text-align: left;"><a id="intro" href="/">FIAFcore</a></div>
            </div>
        

    </div>

        <div style="width: 100%; background-color: white; display: flex; justify-content: center;">
        <div style="width: 800px; background-color: white;  ">
      
            {% block content %}{% endblock %}

        </div>
    </div>
</body>