






<b>id</b> {{ data['@id'] }} <br><br>


<b>label</b> {{ data['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }} <br><br>

<b>type</b> {{ data['@type'] }} <br><br>


    <!-- Code below to add clipboard function to full id path -->

    <!-- The element containing the text to copy -->
    <p id="textToCopy">This is the text to be copied!</p>

    <!-- The button to trigger the copy action -->
    <button onclick="copyText()">Copy Text</button>


<script>
  async function copyText() {
    // Get the text from the <p> element
    const textElement = document.getElementById("textToCopy");
    const text = textElement.textContent;

    try {
      // Use the Clipboard API to write the text
      await navigator.clipboard.writeText(text);
      // alert("Text copied to clipboard: " + text); // Provide user feedback
    } catch (err) {
      console.error('Failed to copy text: ', err);
    }
  }
</script>
