body {
    font-family: "Nunito";
}

.menu {
    color: black;
    font-weight: 100;
    font-size: 16px;
}

.menu-item {
    background-color: white;
    margin: 8px; 
    text-align: center;
    padding-left: 60px;
    padding-right: 60px;
}

a {
    text-decoration: none;
    color: black;
}