<html>
<head>
  <title>Resource cannot be found.</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
</head>

<body style='background:{{ colour }}'>
  {% include 'home.html' %}
  <div style='width:600px; margin: 0 auto;'>
    <div style='padding-top:100px;padding-bottom:100px'>
      <tspan class="text title">Error</tspan><br>
    </div>

    <table style='border: 0px solid black;'>
      <tr>
        <td>
          <tspan class="text value">Resource cannot be found.</tspan>
        </td>
      </tr>
  </div>

</body>
</html>