<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />

</head>

<body style="margin: 0; padding: 0">


    <div id="title-box" style="background:white;padding-top: 80px;width:800px;margin: auto">
        <tspan class="blank-text" text-anchor="left"><b>This Page Does Not Exist!</b></tspan><br><br>
        <tspan class="blank-text" text-anchor="left"><b>Back to <a href="https://fiafcore.org">FIAFcore</a>.</b></tspan><br><br>


    </div>
</body>

</html>
