<!DOCTYPE html>
<html>

<head>
  <title>{{ data.label }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
</head>

<body style="margin: 0; padding: 0">

  <div class="nav-container">

 
    <div class="nav-item" style='flex-grow:1;'> 
      <a href="/"><tspan class="nav-text" style="padding-right: 5px;">FIAFcore</tspan></a>
      <tspan class="nav-text">


        <form method="POST" style="padding-top:0px">
          <select name="lang"  id="lang" class='language-selector' onchange="this.form.submit()">
            <option value="en" {% if lang == 'en' %}selected{% endif %}>English</option>
            <option value="es" {% if lang == 'es' %}selected{% endif %}>Español</option>
            <option value="fr" {% if lang == 'fr' %}selected{% endif %}>Français</option>
          </select>
        </form>  
      
      </tspan> 
    </div>

      <div class="dropdown" style=" display: flex;padding:0px ;padding-top: 12px;">

        <div id="myDropdown" class="dropdown-content" style="position: relative;border-color: #006666;align-items: right;">
         <div style="vertical-align: middle;">
          <input type="text" placeholder="{{data.search_term}}" id="myInput" onkeyup="filterFunction()">
         </div>
         
          {% for sub in data.search_options %}
          <a href="{{sub.uri}}" style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><b>{{sub.label}}</b></a>
          {% endfor %}
         
        </div>

        <div style="width:10px"></div>
      </div>


  </div>
  
  <div id="title-box" style="background:white;padding-top: 80px;width:800px;margin: auto">
    
    <tspan class="subject-text" text-anchor="left">{{ data.label }}</tspan> <br><br>

    <tspan class="key-text">{{ data.entity_type.label }}<br><br>
      {% for x in data.entity_type.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a>
      {% endfor %}
    </tspan><br><br>

    <tspan class="key-text">{{ data.reference.label }}<br><br>
      {% if data.reference.instances %}
      {% for x in data.reference.instances %}
      <tspan class="blank-text">{{ x }}</tspan><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br>

    {% if page_type == 'class' %}
    <tspan class="key-text">{{ data.superclass.label }}<br><br>
      {% if data.superclass.instances %}
      {% for x in data.superclass.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br>
    {% endif %}

    {% if page_type == 'class' %}
    <tspan class="key-text">{{ data.subclass.label }}<br><br>
      {% if data.subclass.instances %}
      {% for x in data.subclass.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br>
    {% endif %}

    {% if page_type == 'class' %}
    <tspan class="key-text">{{ data.properties.label }}<br><br>
      {% if data.properties.instances %}
      {% for x in data.properties.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br>
    {% endif %}

    {% if page_type != 'class' %}
    <tspan class="key-text">{{ data.domain.label }}<br><br>
      {% if data.domain.instances %}
      {% for x in data.domain.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br>
    {% endif %}

    {% if page_type != 'class' %}
    <tspan class="key-text">{{ data.range.label }}<br><br>
      {% if data.range.instances %}
      {% for x in data.range.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br>
    {% endif %}
    
    <tspan class="key-text">{{ data.description.label }}<br><br>
      {% if data.description.instances %}
      {% for x in data.description.instances %}
      <a href="{{ x.link }}" class="value-text">{{ x.label }}</a><br>
      {% endfor %}
      {% else %}
      <tspan class="blank-text">{{ data.none }}</tspan><br>
      {% endif %}
    </tspan><br> 

  </div>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script>



    div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                console.log(a, i);
           a[i].style.display = "None";
           
              }
            
    
    
    
    
    
          document.getElementById("myDropdown").classList.toggle("show");
          
          function filterFunction() {
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
    
            console.log('hello', input.value)
         
            filter = input.value.toUpperCase();
    
         
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
    
            console.log('LENGTH', filter.length)
    
    
            if (filter.length != 0)
    
            { 
    
    
    
    
            for (i = 0; i < a.length; i++) {
              txtValue = a[i].textContent || a[i].innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
                console.log('first item');
              } else {
                console.log('second item');
                a[i].style.display = "none";
              }
            }
    
    
    
    
        } else {
            
            
            
            
            console.log('do nothing')
        
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                console.log(a, i);
           a[i].style.display = "None";
           
              }
            
        
        }
    
    
    
          }
    
      </script>


<script>
  // Select the input element using D3
  const inputElement = d3.select('#myInput');

  // Add a focus event listener to change the text color when focused

  // Add a blur event listener to reset the text color when focus is lost
  inputElement.on('blur', function() {
    // d3.select(this).style('background-color', 'gold'); // Reset the text color to black when focus is lost
  
  
  
  d3.select('#myDropdown').selectAll('a').transition().delay(200).style('display', 'None')


  })





</script>

</body>

</html>