
{% extends 'layout.html' %}

{% block content %}

{% set subject_data = data | selectattr("@id", "equalto", resource) | first %}

<!--{{ subject_data }}-->

<b>id</b> {{ subject_data['@id'] }} <br><br>
<b>type</b> {{ subject_data['@type'] }} <br><br>

{% set exclude_list = ["@id", "@type"] %}
{% for item in subject_data %}
    {% if item not in exclude_list %}
        {% set item_data = data | selectattr("@id", "equalto", item) | first %}
        <a href="{{ item }}">{{ item_data['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

        {% for val in subject_data[item] %}
            {% if '_:' in val['@id'] %}

            <!--// THIS IS A BLANK NODE //-->

                {% set test = data | selectattr("@id", "equalto", val['@id']) | first | default("No Record", true)  %}
                {% set bnode_data = data | selectattr("@id", "equalto", test['@type'][0]) | first %}
                <a href="{{ bnode_data['@id'] }}">{{ bnode_data['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

                {% for prop in test %}
                    {% if prop not in exclude_list %}
                        {% set prop_data = data | selectattr("@id", "equalto", prop) | first %}
                        <a href="{{ prop }}">{{ prop_data['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

                        {% for val2 in test[prop] %}
                            {% if '_:' in val2['@id'] %}

                                <!--// ANOTHER BLANK NODE //-->

                                {% set test2 = data | selectattr("@id", "equalto", val2['@id']) | first | default("No Record", true)  %}
                                {% set bnode_data2 = data | selectattr("@id", "equalto", test2['@type'][0]) | first %}
                                <a href="{{ bnode_data2['@id'] }}">{{ bnode_data2['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

                                {% for prop2 in test2 %}
                                    {% if prop2 not in exclude_list %}

                                        {% set prop2_data = data | selectattr("@id", "equalto", prop2) | first %}
                                        <a href="{{ prop2 }}">{{ prop2_data['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

                                        {% for val3 in test2[prop2] %}
                                            {% if '_:' in val3['@id'] %}

                                                <!--// YET ANOTHER BLANK NODE //-->

                                            {% elif 'dev.fiafcore.org' in val3['@id'] %}

                                                <!--// YET ANOTHER ENTITY //-->

                                                {% set test4 = data | selectattr("@id", "equalto", val3['@id']) | first   %}
                                                <a href="{{ val3['@id'] }}">{{ test4['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

                                            {% else %}

                                                <!--// YET ANOTHER THING //-->

                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}

                            {% elif 'dev.fiafcore.org' in val2['@id'] %}

                                <!--// ANOTHER ENTITY //-->

                                {% set test5 = data | selectattr("@id", "equalto", val2['@id']) | first   %}
                                <a href="{{ val2['@id'] }}">{{ test5['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

                            {% else %}

                                <!--// ANOTHER THING //-->

                                {{ val2['@value'] }}

                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            {% elif 'dev.fiafcore.org' in val['@id'] %}

                <!--THIS IS A ENTITY //-->

                {% set test = data | selectattr("@id", "equalto", val['@id']) | first | default("No Record", true)  %}
                <a href="{{ val['@id'] }}">{{ test['http://www.w3.org/2000/01/rdf-schema#label'][0]['@value'] }}</a>

            {% else %}

                <!--THIS IS ANOTHER THING //-->

            {% endif %}
        {% endfor %}<br><br>
    {% endif %}
{% endfor %}

{% endblock %}
