<!DOCTYPE html>
<html>
<head>
    <title>FIAFcore</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
  </head>

<body style="margin: 0; padding: 0">

    <div class="nav-container">

 
        <div class="nav-item" style='flex-grow:1;'> 
          <!-- <a href="/"><tspan class="nav-text" style="padding-right: 5px;">FIAFcore</tspan></a> -->
          <tspan class="nav-text">


            <form method="POST" style="padding-top:0px">
              <select name="lang"  id="lang" class='language-selector' onchange="this.form.submit()">
                <option value="en" {% if lang == 'en' %}selected{% endif %}>English</option>
                <option value="es" {% if lang == 'es' %}selected{% endif %}>Español</option>
                <option value="fr" {% if lang == 'fr' %}selected{% endif %}>Français</option>
              </select>
            </form>  
          
          </tspan> 
        </div>

          <div class="dropdown" style=" display: flex;padding:0px ;padding-top: 12px;">
   
            <div id="myDropdown" class="dropdown-content" style="position: relative;border-color: #006666;align-items: right;">
             <div style="vertical-align: middle;">
              <input type="text" placeholder="{{data.search_term}}" id="myInput" onkeyup="filterFunction()">
             </div>
             
              {% for sub in data.search_options %}
              <a href="{{sub.uri}}" style="border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid black;"><b>{{sub.label}}</b></a>
              {% endfor %}
             
            </div>

            <div style="width:10px"></div>
          </div>


      </div>

    <div id="title-box" style="background:white;padding-top: 80px;width:800px;margin: auto">

        <tspan class="subject-text" text-anchor="left">FIAFcore</tspan><br><br>

        <tspan class="blank-text">
          <a href="https://fiafcore.org/" class="value-text">{{ intro.link1 }}</a>{{ intro.text1 }}
          <a href="https://www.fiafnet.org/pages/E-Resources/Cataloguing-Manual.html" class="value-text">{{ intro.link2 }}</a>{{ intro.text2 }}        
        </tspan><br><br>

        <tspan class="key-text">{{ data.primary.label }}<br><br>
          <div id="paper"></div>
        </tspan><br>

        <tspan class="key-text">{{ data.resources.label}}<br><br>
            
            <a href="https://raw.githubusercontent.com/FIAF/FIAFcore/main/FIAFcore.ttl" class="value-text">Turtle</a><br>
            <a href="https://github.com/FIAF/FIAFcore" class="value-text">GitHub</a><br>
            <a href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/FIAF/FIAFcore/main/FIAFcore.ttl" class="value-text">WebVOWL</a><br>
        </tspan><br>

        <tspan class="key-text">{{ intro.contact }}<br><br>
          <a href="mailto:cdc@fiafnet.org" class="value-text">cdc@fiafnet.org</a><br>
        </tspan><br>

    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>
      // things which you should be looking at updating
      // --- languge terms - DONE
      // --- mouseover style changes - DONE
      // --- click through to link (should be same window!)

      let graph_terms = JSON.parse('{{ graph|tojson() }}')

      const curve = d3.line().curve(d3.curveBumpX);
      
      d3.select("#paper")
        .append("svg")
        .attr("id", "canvas")
        .attr("width", 800)
        .attr("height", 400)
        .style("background-color", "#eeeeee");

      let nodes = graph_terms['nodes']
    
      d3.select('#canvas')
        .selectAll('.entity_text')
        .data(nodes)
        .join('text')
        .attr("class", "entity_text")
        .attr("id", d => 'node_'+d.handle)
        .attr('x', d => d.x)
        .attr('y', d => d.y)
        .attr('font-family', 'Quicksand')
        .attr('font-family', 'Quicksand')
        .attr('font-size', '16px')
        .attr('text-anchor', 'middle')
        .attr('alignment-baseline', 'middle')
        .attr('stroke', 'black')
        .attr('fill', 'black')
        .text(d => d.label)

      nodes.forEach((d) => d.box = d3.select("#node_"+d.handle).node().getBBox())
 
      let links = graph_terms['links']
      links.forEach((d) => d.x1 = nodes.filter((x) => x['handle'] == d['source'])[0]['x'])
      links.forEach((d) => d.y1 = nodes.filter((x) => x['handle'] == d['source'])[0]['y'])
      links.forEach((d) => d.x2 = nodes.filter((x) => x['handle'] == d['target'])[0]['x'])
      links.forEach((d) => d.y2 = nodes.filter((x) => x['handle'] == d['target'])[0]['y'])

      d3.select('#canvas')
        .selectAll('.links_yes')
        .data(links)
        .join('path')
        .attr("class", "links_yes")
        .attr('d', d => curve([[d.x1, d.y1], [d.x2, d.y2]]))
        .attr('stroke', 'black')
        .attr('fill', 'none');

      links.forEach((d) => d.x3 = (d.x1+d.x2)/2)
      links.forEach((d) => d.y3 = (d.y1+d.y2)/2)

      d3.select('#canvas')
        .selectAll('.entity_blocks')
        .data(nodes)
        .join('rect')
        .attr("class", "entity_blocks")
        .attr('width', d => d.box.width+10+10)
        .attr('height', d => d.box.height+10+10)
        .attr('x', d => d.box.x-10)
        .attr('y', d => d.box.y-10)
        .attr('stroke', 'black')
        .attr('stroke-width', '2px')
        .attr('fill', 'white')
        .on("mouseover", function(k,d) {
          d3.select(this).attr('fill', 'black')
          d3.select('#'+d.handle+'box_text').attr('stroke', 'white')
        })
        .on("mouseout", function() {
          d3.selectAll('.entity_blocks').attr('fill', 'white')
          d3.selectAll('.entity_text2').attr('stroke', 'black')
        })
        .on("click", function(k, d) { window.open("https://fiafcore.org/ontology/"+d.url,"_self"); });

      d3.select('#canvas')
        .selectAll('.entity_text2')
        .data(nodes)
        .join('text')
        .attr("class", "entity_text2")
        .attr("id", d => d.handle+'box_text')
        .attr('x', d => d.x)
        .attr('y', d => d.y)
        .attr('font-family', 'Quicksand')
        .attr('font-size', '16px')
        .attr('font-weight', '100')
        .attr('text-anchor', 'middle')
        .attr('alignment-baseline', 'middle')
        .attr('stroke', 'black')
        .attr('fill', 'black')
        .text(d => d.label)
        .style('pointer-events', 'none')

      d3.select('#canvas')
        .selectAll('.links_text')
        .data(links)
        .join('text')
        .attr("class", "links_text")
        .attr("id", (d,i) => 'link_'+i)
        .attr('x', d => d.x3)
        .attr('y', d => d.y3)
        .attr('font-family', 'Quicksand')
        .attr('font-size', '12px')
        .attr('font-weight', '100')
        .attr('text-anchor', 'middle')
        .attr('alignment-baseline', 'middle')
        .attr('stroke', 'black')
        .attr('fill', 'none')
        .text(d => d.label)
      
      links.forEach((d,i) => d.box = d3.select("#link_"+i).node().getBBox())

      d3.select('#canvas')
        .selectAll('.link_blocks')
        .data(links)
        .join('rect')
        .attr("class", "link_blocks")
        .attr('width', d => d.box.width)
        .attr('height', d => d.box.height)
        .attr('x', d => d.box.x)
        .attr('y', d => d.box.y)
        .attr('stroke', '#eeeeee')
        .attr('stroke-width', '2px')
        .attr('fill', '#eeeeee');

      d3.select('#canvas')
        .selectAll('.links_text2')
        .data(links)
        .join('text')
        .attr("class", "links_text2")
        .attr('x', d => d.x3)
        .attr('y', d => d.y3)
        .attr('font-family', 'Quicksand')
        .attr('font-size', '12px')
        .attr('font-weight', '100')
        .attr('text-anchor', 'middle')
        .attr('alignment-baseline', 'middle')
        .attr('stroke', 'black')
        .attr('fill', 'none')
        .text(d => d.label)

    </script>
    <script>

      function filterFunction() {
          var input, filter, ul, li, a, i;
          input = document.getElementById("searchinput");
          filter = input.value.toUpperCase();
          div = document.getElementById("dropdownelement");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
              if (input.value.length == 0) {
                  a[i].style.display = "none";
              }
              else {
                  txtValue = a[i].textContent || a[i].innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                  } else {
                      a[i].style.display = "none";
                  }
              }
          }
      }


      function removedropdown(){
        console.log('hey')

        setTimeout( function( ){

        var input, filter, ul, li, a, i;
          input = document.getElementById("searchinput");
          input.value = '';
          filter = input.value.toUpperCase();
          div = document.getElementById("dropdownelement");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
                  a[i].style.display = "none";
              }}, 100);
      
      }
      </script>


<script>



div = document.getElementById("myDropdown");
// div.style.display = "None";
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            // console.log(a, i);
       a[i].style.display = "None";
      //  a[i].style.height = '0px'


       
          }
        





      document.getElementById("myDropdown").classList.toggle("show");
      
      function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");

        // console.log('hello', input.value)
     
        filter = input.value.toUpperCase();

     
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");

        console.log('LENGTH', filter.length)


        if (filter.length != 0)

        { 




        for (i = 0; i < a.length; i++) {
          txtValue = a[i].textContent || a[i].innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            a[i].style.display = "";
            // console.log('first item');
          } else {
            // console.log('second item');
            a[i].style.display = "none";
          }
        }




    } else {
        
        
        
        
        console.log('do nothing')
    
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            // console.log(a, i);
       a[i].style.display = "None";
       
          }
        
    
    }



      }

  </script>



<script>
  // Select the input element using D3
  const inputElement = d3.select('#myInput');

  // Add a focus event listener to change the text color when focused

  // Add a blur event listener to reset the text color when focus is lost
  inputElement.on('blur', function() {
    // d3.select(this).style('background-color', 'gold'); // Reset the text color to black when focus is lost
  
  
  
  d3.select('#myDropdown').selectAll('a').transition().delay(200).style('display', 'None')


  })





</script>



</body>

</html>
