<!DOCTYPE html>
<html>
<head>
    <title>FIAFcore</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
  </head>

<body style="margin: 0; padding: 0">

    <div class="nav-container">

        <div class="nav-item" style='flex-grow:1'> 
          <tspan class="nav-text">
            <a href="https://fiafcore.org/" class="nav-text" style="text-decoration:none">FIAFcore</a>
          </tspan> 
        </div>

        <!-- <div class="nav-item" style="width:150px">  
          <div class="dropdown" style="padding-top:10px">
            <div id="dropdownelement" class="dropdown-content" style="margin:0px;overflow: auto">
              <input type="text" placeholder="Search..." id="searchinput" onkeyup="filterFunction()" onfocusout="setTimeout(removedropdown, 100)"><br>
              {% for sub in data.search_options %}
              <a href="{{ sub.uri }}" style="display:none;">{{ sub.label }}</a>
              {% endfor %}
            </div>
          </div>
        </div> -->
    
        <div class="nav-item">     
          <form method="POST" style="padding-top:15px">
            <select name="lang"  id="lang" class='language-selector' onchange="this.form.submit()">
              <option value="en" {% if lang == 'en' %}selected{% endif %}>English</option>
              <option value="es" {% if lang == 'es' %}selected{% endif %}>Español</option>
              <option value="fr" {% if lang == 'fr' %}selected{% endif %}>Français</option>
            </select>
          </form>  
        </div>
    
      </div>

    <div id="title-box" style="background:white;padding-top: 80px;width:800px;margin: auto">

        <tspan class="subject-text" text-anchor="left">FIAFcore</tspan><br><br>
        <!-- <div id="paper"></div> -->
        <tspan class="blank-text">
          <a href="https://fiafcore.org/" class="value-text">{{ intro.link1 }}</a>{{ intro.text1 }}
          <a href="https://www.fiafnet.org/pages/E-Resources/Cataloguing-Manual.html" class="value-text">{{ intro.link2 }}</a>{{ intro.text2 }}        
        </tspan><br><br>


        <tspan class="key-text">{{ data.primary.label }}<br><br>

          <div id="paper"></div>
          <!-- {% for sub in data.primary.data %}
          <a href="{{ sub.uri }}" class="value-text">{{ sub.label }}</a><br>
          {% endfor %}
         -->
        
        
        </tspan><br>

        <tspan class="key-text">{{ data.resources.label}}<br><br>
            <a href="https://github.com/FIAF/FIAFcore" class="value-text">GitHub</a><br>
            <a href="https://service.tib.eu/webvowl/#iri=https://raw.githubusercontent.com/FIAF/FIAFcore/main/FIAFcore.ttl" class="value-text">WebVOWL</a><br>
        </tspan><br>

        <!-- <tspan class="key-text">{{ data.contact.label}}<br><br>
            <tspan class="blank-text">admin@fiafcore.org</tspan><br>
        </tspan><br> -->

    </div>


    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script>

      // console.log('hello', '{{ graph|tojson() }}')
      
      let graph_terms = JSON.parse('{{ graph|tojson() }}')

      console.log(graph_terms)
      console.log(typeof(graph_terms))
      console.log(graph_terms['work'])

      var width = 800, height = 400
      
      canvas = d3
        .select("#paper")
        .append("svg")
        .attr("id", "canvas")
        .attr("width", width)
        .attr("height", height)
        .style("background-color", 'white');
        
      var nodes = [
        {name: graph_terms['work']},
        {name: graph_terms['manifestation']},
        {name: graph_terms['carrier']},
        {name: graph_terms['item']},
        {name: graph_terms['event']},
        {name: graph_terms['activity']},
        {name: graph_terms['agent']},
      ]

      console.log('nodes', nodes)
      
      var links = [
        {source: 0, target: 1, name:'Has Manifestation'},
        {source: 1, target: 2, name:'Has Item'},
        {source: 2, target: 3, name:'Has Carrier'},
        {source: 0, target: 4, name:'Has Event'},
        {source: 1, target: 4, name:'Has Event'},
        {source: 2, target: 4, name:'Has Event'},
        {source: 3, target: 4, name:'Has Event'},
        {source: 4, target: 5, name:'Has Activity'},
        {source: 5, target: 6, name:'Has Agent'},
      ]
      
      var simulation2 = d3.forceSimulation(nodes)
        .force("x",d3.forceX(width/2).strength(0.4))
        .force("y",d3.forceY(height/2).strength(0.6))
        .force("charge",d3.forceManyBody().strength(-10000))
        .force("collide",d3.forceCollide().radius(d => d.r * -10))
        .force('link', d3.forceLink().links(links))
        .on('tick', render);
        
      function render() {
        
        d3.select('#canvas')
          .selectAll('line')
          .data(links)
          .join('line')
          .attr('x1', d => d.source.x)
          .attr('y1', d => d.source.y)
          .attr('x2', d => d.target.x)
          .attr('y2', d => d.target.y)
          .attr('stroke', 'black')
          .attr('stroke-width', '0.5');
          
        d3.select('#canvas')
          .selectAll('.my_circles')
          .data(nodes)
          .join('circle')
          .attr("class", "my_circles")
          .attr('r', 10)
          .attr('cx', d => d.x)
          .attr('cy', d => d.y)
          .attr('fill', '#3AB795')
          .attr('stroke', 'black');
        
        d3.select('#canvas')
          .selectAll('.circle_label')
          .data(nodes)
          .join('text')
          .attr("class", "circle_label")
          .style("text-anchor", "start")
          .style("alignment-baseline", "middle")
          .attr('r', 5)
          .attr('x', d => d.x+12)
          .attr('y', d => d.y+1)
          .text(d => d.name)
          .attr('fill', 'black')

      //   var u = d3.select('#canvas')
      //   .selectAll('.link_label')
      //   .data(links)
      //   .join('text')
      //   .attr("class", "link_label")
      //   .attr('r', 5)
      //   .attr('x', function(d) {
      //     return (d.source.x+d.target.x)/2
      //   })
      //   .attr('y', function(d) {
      //     return (d.source.y+d.target.y)/2
      //   })
      //   .text(d => d.name)
      //   .attr('fill', 'black')
      //   .attr('font-weight', 100)
        
      //   .style("text-anchor", "middle")
      // .style("alignment-baseline", "middle")
      //   ;

}
    
    
    </script>
    <script>

      function filterFunction() {
          var input, filter, ul, li, a, i;
          input = document.getElementById("searchinput");
          filter = input.value.toUpperCase();
          div = document.getElementById("dropdownelement");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
              if (input.value.length == 0) {
                  a[i].style.display = "none";
              }
              else {
                  txtValue = a[i].textContent || a[i].innerText;
                  if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                  } else {
                      a[i].style.display = "none";
                  }
              }
          }
      }


      function removedropdown(){
        console.log('hey')

        setTimeout( function( ){

        var input, filter, ul, li, a, i;
          input = document.getElementById("searchinput");
          input.value = '';
          filter = input.value.toUpperCase();
          div = document.getElementById("dropdownelement");
          a = div.getElementsByTagName("a");
          for (i = 0; i < a.length; i++) {
                  a[i].style.display = "none";
              }}, 100);
      
      }
      </script>
</body>

</html>
