{% extends 'layout.html' %}

{% block content %}

<h4>FIAFcore</h4>

The FIAFcore ontology was developed to enable the federation of filmographic data from disparate sources. It is heavily based on the language and structure of the <a href="https://www.fiafnet.org/pages/E-Resources/Cataloguing-Manual.html" style="color: crimson;">FIAF Cataloguing Manual</a>.

Key ontology elements are described below, with available properties and RDF examples.

{{ data | safe }}

<br>
<br>
<br>
<br>

<script>
  document.getElementById("ontology").style.fontWeight = 'Bold';
</script>
<script src="../static/prism.js"></script>
{% endblock %}
