{% extends 'layout.html' %}

{% block content %}

<h4>FIAFcore</h4>

The FIAFcore ontology was developed to enable the federation of filmographic data from disparate sources. It is heavily based on the language and structures of the <a href="https://www.fiafnet.org/pages/E-Resources/Cataloguing-Manual.html" style="color: crimson;">FIAF Cataloguing Manual</a>.

Key ontology elements are described below with available properties and an RDF example.

<h4>Work</h4>

A moving image Work comprises both the intellectual or artistic content and the process of realisation in a cinematographic medium.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasCountry</td>
    <td>fiafcore:Country</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasEvent</td>
    <td>fiafcore:Event</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasGenre</td>
    <td>fiafcore:Genre</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasForm</td>
    <td>fiafcore:Form</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasIdentifier</td>
    <td>fiafcore:Identifier</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasLanguageUsage</td>
    <td>fiafcore:LanguageUsage</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasManifestation</td>
    <td>fiafcore:Manifestation</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasSubject</td>
    <td>fiafcore:Subject</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasTitle</td>
    <td>fiafcore:Title</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasVariant</td>
    <td>fiafcore:Variant</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasWork</td>
    <td>fiafcore:Work</td>
    <td></td>
  </tr>
</table>

<h4>Variant</h4>

A moving image Variant is an entity that may be used to indicate any change to content-related characteristics that do not significantly change the overall content of a Work as a whole.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasEvent</td>
    <td>fiafcore:Event</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasIdentifier</td>
    <td>fiafcore:Identifier</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasLanguageUsage</td>
    <td>fiafcore:LanguageUsage</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasManifestation</td>
    <td>fiafcore:Manifestation</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasTitle</td>
    <td>fiafcore:Title</td>
    <td></td>
  </tr>
</table>

<h4>Manifestation</h4>

A moving image Manifestation is the embodiment of a moving image Work or Variant. Manifestations usually include all analogue, digital and online media associated with a particular embodiment of a Work or Variant.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasColourCharacteristic</td>
    <td>fiafcore:ColourCharacteristic</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasEvent</td>
    <td>fiafcore:Event</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasExtent</td>
    <td>fiafcore:Extent</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasFormat</td>
    <td>fiafcore:Format</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasIdentifier</td>
    <td>fiafcore:Identifier</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasImageCharacteristic</td>
    <td>fiafcore:ImageCharacteristic</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasItem</td>
    <td>fiafcore:Item</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasLanguageUsage</td>
    <td>fiafcore:LanguageUsage</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasSoundCharacteristic</td>
    <td>fiafcore:SoundCharacteristic</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasTitle</td>
    <td>fiafcore:Title</td>
    <td></td>
  </tr>
</table>

<h4>Item</h4>

A moving image Item is the physical or digital product of a Manifestation of a Work or Variant, i.e. the actual copy of a Work or Variant. Whereas the Manifestation record describes the “ideal” of a particular format or publication, the Item record represents the actual holding in a repository's collection.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasBase</td>
    <td>fiafcore:Base</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasBroadcastStandard</td>
    <td>fiafcore:BroadcastStandard</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasCarrier</td>
    <td>fiafcore:Carrier</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasEvent</td>
    <td>fiafcore:Event</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasExtent</td>
    <td>fiafcore:Extent</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasFormat</td>
    <td>fiafcore:Format</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasFrameRate</td>
    <td>fiafcore:FrameRate</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasHoldingInstitution</td>
    <td>fiafcore:HoldingInstitution</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasIdentifier</td>
    <td>fiafcore:Identifier</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasImageCharacteristic</td>
    <td>fiafcore:ImageCharacteristic</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasLineStandard</td>
    <td>fiafcore:LineStandard</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasResolution</td>
    <td>fiafcore:Resolution</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasSoundCharacteristic</td>
    <td>fiafcore:SoundCharacteristic</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasSourceDevice</td>
    <td>fiafcore:SourceDevice</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasSourceSoftware</td>
    <td>fiafcore:SourceSoftware</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasStatus</td>
    <td>fiafcore:Status</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasStock</td>
    <td>fiafcore:Stock</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasStream</td>
    <td>fiafcore:Stream</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasTitle</td>
    <td>fiafcore:Title</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasTransferSpeed</td>
    <td>fiafcore:TransferSpeed</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:isElement</td>
    <td>fiafcore:Element</td>
    <td></td>
  </tr>
</table>

<h4>Carrier</h4>

A moving image carrier is the discrete physical unit on which the moving image is retained. It can either contain the entire artistic work or a portion, for example in the case of individual film reels.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasEvent</td>
    <td>fiafcore:Event</td>
    <td></td>
  </tr>
  <tr>
    <td>fiafcore:hasIdentifier</td>
    <td>fiafcore:Identifier</td>
    <td></td>
  </tr>
</table>

<h4>Event</h4>

An Event characterises occurrences in the lifecycle of a moving image Work, Variant, Manifestation or Item. Instances of any Event can have Activity (and Agent) relationships.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasActivity</td>
    <td>fiafcore:Activity</td>
    <td></td>
  </tr>
</table>

<h4>Activity</h4>

This describes the activity or role of the Agent in relation to the moving image Work/Variant, or to make explicit the relationship(s) between the Agent and the Manifestation or Item.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasAgent</td>
    <td>fiafcore:Agent</td>
    <td></td>
  </tr>
</table>

<h4>Agent</h4>

Agents, whether for works/variants, manifestations, or items in moving images, are entities involved in their creation, exploitation, or preservation, with typical distinctions including person, corporate body, family, and person group, encompassing responsibilities such as release, distribution, acquisition, or preservation.<br><br>

<i>Properties</i>
<br><br>
<table>
  <tr>
    <td>Property</td>
    <td>Range</td>
    <td>Description</td>
  </tr>
  <tr>
    <td>fiafcore:hasIdentifier</td>
    <td>fiafcore:Identifier</td>
    <td></td>
  </tr>
</table>


<br><br>


<br><br>



<script>
  document.getElementById("ontology").style.fontWeight = 'Bold';
</script>

{% endblock %}