
{% extends 'layout.html' %}

{% block content %}
   
<h3>FIAFcore</h3>

The FIAFcore ontology was developed to enable the federation of filmographic data from disparate sources. It is heavily based on the language and structures of the <a href="https://www.fiafnet.org/pages/E-Resources/Cataloguing-Manual.html" style="color: crimson;">FIAF Cataloguing Manual</a>. 

Key ontology elements are described below with available properties and an RDF example.

<h3>Work</h3> 

TODO link to ontology element.<br><br>

A Moving Image Work comprises both the intellectual or artistic content and the process of realisation in a cinematographic medium.<br><br>

TODO table of properties.<br><br>

<i>Turtle example</i> TODO would be cool to parse different syntaxes.

<xmp><https://resource.fiafcore.org/e157473b-645b-4b84-941d-fd851c32ae86> 
    a <https://ontology.fiafcore.org/Work> .
</xmp>


<script>
    document.getElementById("ontology").style.fontWeight = 'Bold';
</script>

{% endblock %}