<html>
<head>
  <title>{{ data.label }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link href="https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700,800,900" rel="stylesheet" />
</head>

<body style='background:{{ colour }};'>
  {% include 'home.html' %}
  <div style='width:600px; margin: 0 auto;'>
    <div style='padding-top:50px;padding-bottom:50px'>
      <tspan class="text title">{{ data.label }}</tspan><br>
    </div>

    <table style='border: 0px solid black;'>        
      {% for x in data.attributes %}
      <tr>
        <td style="vertical-align: top;width:120px">
          {% if x.pos == 0 %}
          <tspan class="text key">{{x.key}}</tspan>
          {% else %}
          <tspan class="text key"></tspan>
          {% endif %}
        </td>
        <td>
          {% if x.link == '' %}
          <tspan class="text value">{{x.value}}</tspan>
          {% else %}
          <a href="{{x.link}}">
          <tspan class="text value">{{x.value}}</tspan>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>

{% if data.mode == 'resource' %}
{% else %}


    <div style='width:600px; margin: 0 auto;'>
   <tspan class="text key">example </tspan><tspan class="text value">(turtle)</tspan><br><br>
    </div>
    <!-- <div style=' margin: 0 auto;'> -->
      <center>
    <div style="background-color: black;color:aquamarine;padding: 10px; padding-left:20px ;border-radius: 15px;display: inline-block; align">
   

      <pre class="lead text value" style="color:mediumaquamarine; text-align: left; " id="testbed-meta">{{data.turtle}}</pre>
    </div>
  </center>


 

    {% endif %}
      <br> <br>


  </div>

</body>
</html>