
{% extends 'layout.html' %}

{% block content %}
<br>

The following table describes the datasets which currently comprise the FIAF Knowledge Graph.

<br><br>

<center>
<table style="width:100%">
  <tr>
    <th>Institution</th>
    <th>Number of Cinematographic Works</th>
    <th>Refresh Date</th>
  </tr>
  <tr>
    <td>British Film Institute</td>
    <td>17,267</td>
    <td>2025-04-24</td>
  </tr>
  <tr>
    <td>Bundesarchiv</td>
    <td>17,267</td>
    <td>2025-04-24</td>
  </tr>
</table>

</center>
<script>
    document.getElementById("sources").style.fontWeight = 'Bold';
</script>

{% endblock %}
